header.text-center
    .brand.bg-primary
        img(src="/assets/logo.webp" alt="logo" height="120")
        div
            h1 Thesis
            h2 Scientia potentia est

    nav.nav
        .nav-center
            a.button.primary(href="/")
                i.fa-sharp.fa-solid.fa-globe
                span Templates

            a.button.primary(href="/quaerere")
                i.fa-solid.fa-magnifying-glass
                span Quaerere

            a.button.primary(href="/addere")
                i.fa-brands.fa-github
                span Addere

            a.button.primary(href="/tutorial")
                i.fa-solid.fa-file-pdf
                span Tutorial