extends ../base

block title
    title {{ title }} / Thesis
    meta(name="description", content="{{ descriptio }}")

block content
    h1 
        a(href="https://github.com/{{ repo }}" target="_blank")
            i.fa-brands.fa-github-alt
            span {{ repo }}

    h2 {{ patriae_nomen }}
    h3 
        i.fa-solid.fa-language 
        span &nbsp;{{ lingua }} 
        i.fa-solid.fa-calendar 
        span &nbsp;{{ annus }} 

    p.row 
        input#copy.col-6(type="text" value="curl -Ls {{ domain }}sh/{{ repo }} | sh -")
        button.col-3(onclick="onCopy(event)")
            i.fa-solid.fa-copy
            span Copy

    iframe(
        src="https://docs.google.com/viewer?url=https://github.com/{{ repo }}/releases/download/latest/doc.pdf&embedded=true"
        width="100%"
        height="480px"
    )

    p
        a(href="//{{ universitas }}" target="_blank")
            b Universitas
        span / 
        a(href="//{{ facultas }}" target="_blank") 
            b Facultas
        span / 
        a(href="//{{ repositorium }}" target="_blank") 
            b Repositorium 

    p {{ descriptio }}
    p
        small 
            b Visitor numerus: 
            i {{ verificatur }}

block body
    script.
        function onCopy(event) {
            navigator.clipboard.writeText(
                document.querySelector('#copy').value
            ).then(_=>event.target.style.color='var(--color-primary)')
        }
