extends ../base

block title
    title Error 404

block content
    .text-center
        h1 404
        h2 No disponible
        h3 
            a.button.secondary(href="/")
                i.fa-solid.fa-home
                span Portada