extends ../base

block head
    meta(name="google-adsense-account" content="ca-pub-1552191203398756")
    script(src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js") 
    script(src="https://unpkg.com/mustache@latest")

block content
    div(hx-ext="client-side-templates")
        div.container(
            hx-post="/api/templates/updates" 
            hx-trigger="revealed"
            mustache-array-template="thesis-item"
        )

block body
    template#thesis-item
        | {{#data}}
        .thesis-item.card
            h3 {{ patriae_nomen }}
            div {{ annus }} {{ lingua }} 
            div {{ descriptio }}
            a.text-secondary(href="/@{{ repo }}") {{ repo }}
        | {{/data}}
